.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: white;
  border: 1px solid rgb(128, 128, 128);;
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 600px;
}

.right-section {
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;
}

.search-bar {
  flex: 1;
  height: 36px;
  width: 0;
  padding-left: 16px;
  font-size: 16px;
  border-radius: 22px 0 0 22px;
  border: 1px solid rgb(204, 204, 204);
  box-shadow: inset 1px 2px 3px rgb(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-size: 16px;
}

.icon-hamburger {
  height: 24px;
  margin-inline: 24px;
}

.icon-youtube-logo {
  height: 20px;
}

.icon-upload,
.icon-notifications,
.icon-voice-search,
.icon-search
{
  height: 24px;
}

.notifications-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: 6px;
  right: 4px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 11px;
  padding-block: 2px;
  padding-inline: 5px;
  border-radius: 10px;
}

.current-user-avi {
  height: 32px;
  border-radius: 16px;
  margin-right: 20px;
}

.current-user-avi:hover {
  cursor: pointer;
}

.button-search,
.button-voice-search,
.upload-icon-container,
.notifications-container
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-search {
  height: 40px;
  width: 66px;
  margin-right: 10px;
  border-radius: 0 22px 22px 0;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(193, 192, 192);
}

.button-search:hover,
.button-voice-search:hover,
.upload-icon-container:hover,
.notifications-container:hover
{
  cursor: pointer;
  background-color: rgba(130, 127, 127, 0.242);
}

.button-search .tooltip,
.button-voice-search .tooltip,
.upload-icon-container .tooltip,
.notifications-container .tooltip
{
  position: absolute;
  color: white;
  padding: 6px;
  background-color: rgb(115, 113, 113);
  border-radius: 2px;
  font-size: 12px;
  bottom: -45px;
  opacity: 0;
  transition: opacity 0.15;
  pointer-events: none;
  white-space: nowrap;
}

.button-search:hover .tooltip,
.button-voice-search:hover .tooltip,
.upload-icon-container:hover .tooltip,
.notifications-container:hover .tooltip
{
  opacity: 1;
}

.button-voice-search {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
}

.upload-icon-container,
.notifications-container
{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
}